
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #034078;
    height: 48px;
    text-align: center; 
    color: white; 
    font-size: 32px;
    padding-top: 14px;
    letter-spacing: 2px;
}

#root {
    text-align: center;
}

body {
    margin: 0;
}

.feed {
    max-width: 700px;
    margin: 80px auto;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article {
    width: 48%; 
    text-align: left;
    margin-bottom: 32px;
    text-decoration: none;

    &__image {
        width: 100%;
    }

    &__source {
        color: #034078;
    }

    &__title {
        font-size: 20px;
        font-weight: 500;
        color: black;
        word-break: break-word;
    }

    &--small {
        width: 32%;
    }
}